{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de commande{% endblock %}

{% block body %}
{# Header & navbar #}
    {{ include('partial/header.html.twig')}}
    {{ include("partial/message.html.twig")}}
    <h1>Récapitulatif de votre commande</h1>
    
{% endblock %}