{# {% extends 'base.html.twig' %}


{% block body %} #}

<div class="example-wrapper">
    <nav class="navDesktop">
        {% for categorie in categories %}
            
            <a href="#" title="{{ categorie.name }}"> {{ categorie.name }} </a>
        {% endfor %}
    </nav>

   
</div>
{# {% endblock %} #}
